body{

    background-color: #2C2F33;

}
.maincontainer{

    background-color: #3d4246;
    /* #23272A
    */
    width: 70vw;
    height: 100vh;
    position: absolute;
    left: 15%;
    top: 3%;
    z-index: -1;
    border-radius: 50px;

}

h1{

    position: absolute;
    top: 5%;
    left: 17%;
    font-size: 2vw;

}
.namehr{

    position: absolute;
    top: 12%;
    left: 17%;

    width: 65vw;

}
h2{

    font-size: 1.5vw;

}
.tcontainer{

    position: absolute;
    top: 15%;
    left: 17%;


}
a{

    text-decoration: none;
    color: #7289DA;

}
p{

    position: absolute;
    top: 8%;
    left: 40%;
    font-size: 1vw;

}
li{

    font-size: 1vw;

}

/* Mobile Responsivness */
@media screen and (max-width: 1375px){

    h1{

        position: absolute;
        top: 5%;
        left: 17%;
        font-size: 4vw;

    }
    p{

        position: absolute;
        top: 10%;
        left: 25%;
        font-size: 1.5vw;
    
    }

}
